{% if page.featured_image or page.featured_video_id %}
    <div class="topper">
        {% if page.featured_image %}
        <span class="img" style="background-image: url('{{ site.baseurl }}{{ site.images_dir }}/{{ page.featured_image }}');">
        {% endif %}

        {% if page.featured_video_id %}
        <iframe src="https://www.youtube.com/embed/{{ page.featured_video_id }}" frameborder="0" allowfullscreen></iframe>
        {% endif %}


    </div>
{% endif %}

<div class="title-group">

    <h1 class="special">


        <span>
        {% if page.title %}
            {{ page.title }}
        {% else %}
            {{ site.data.global.title }}
        {% endif %}
        </span>

    </h1>
    {% if page.id %}
    <aside>
        {{ page.date | date: '%B %d, %Y' }}
        {% if page.categories != empty %}
            &middot;
            {% for category in page.categories %}
                <span>{{ category }}</span>
            {% endfor %}
        {% endif %}
            &middot;

        {% if page.share == true %}
            <ul class="share-buttons">
            <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url | url_escape}}{{ page.url | url_escape }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url | url_escape}}{{ page.url | url_escape }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="http://www.reddit.com/submit?url={{ site.url | url_escape}}{{ page.url | url_escape }}&title={{ page.title }}" target="_blank"><i class="fa fa-reddit-alien"></i></a></li>
            </ul>
        {% endif %}
        <br>

        {% if page.tags != empty %}
        <ul class="tags">
            {% for tag in page.tags %}
            <li><a class="" href="/tag/{{ tag }}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}


    </aside>
    {% endif %}
    <p class="lead">
        {% if page.lead_text %}
            {{ page.lead_text }}
        {% elsif post.lead_text %}
            {{ post.lead_text }}
        {% else %}
            {{ site.data.global.description }}
        {% endif %}
    </p>
</div>