{% include header.html %}

    {% include title-group.html %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">


                    {{ content }}

                    {% if page.refs %}
                        <div class="refs-box">
                            <h3>References</h3>
                            {% assign i = 1 %}
                            {% for ref in page.refs %}
                                <span class="ref">
                                <span class="ref-count">{{ i }}.</span>
                                    {{ ref.name }}
                                    {% if ref.link %}
                                        {% if ref.link == 'self' %}
                                            <a href="{{ ref.name }}" target="_blank">
                                                <i class="fa fa-external-link"></i>
                                            </a>
                                        {% else if %}
                                            <a href="{{ ref.link }}" target="_blank">
                                                <i class="fa fa-external-link"></i>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </span>
                                {% assign i = i | plus: 1 %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </article>

{% include footer.html %}